@import "../../../../styles/base/variables";

.choose-tour__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.choose-tour__button {
  position: relative;
  border: none;
  background-color: transparent;
  @include bold-text;
  cursor: pointer;

  &::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    display: block;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &_active {
    color: $orange-200;
    text-decoration: underline;
    text-underline-offset: 10px;

    &::after {
      width: 0 !important;
      transition: none !important;
    }
  }
}

@media (max-width: 1024px) {
  .choose-tour__button {
    letter-spacing: 0.002em;
  }
}

@media (max-width: 768px) {
  .choose-tour__list {
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .choose-tour__button {
    @include mobile-regular-text;
    font-weight: $weight-700;

    &_active {
      text-underline-offset: 5px;
    }
  }
}

@media (max-width: 360px) {
  .choose-tour__list {
    gap: 9px 10px;
  }
}

@media (hover: none) {
  .choose-tour__button::after {
    width: 0;
    transition: none;
  }
}

//============
