@import "../../styles/base/variables";

.header {
  width: 100%;
  height: 831px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../assets/header/header-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  box-shadow: 0 100px 67px -39px rgba(0, 0, 0, 0.2) inset;

  &__content {
    position: absolute;
    width: 100%;
    padding: 28px 0;
    @include regular-text;
  }

  &__container {
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 768px;
    margin: 0 auto;
    padding: 207px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    @include regular-text;
  }

  &__heading {
    @include h1;
  }

  &__description {
    max-width: 562px;
    text-align: center;
    color: $white;
  }

  &_scroll {
    position: fixed;
    z-index: 100;
    width: 100vw;
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(5px);
    transition: background 0.3s ease;
  }
}

@media (max-width: 1024px) {
  .header {
    &__content {
      padding: 29px 0;
    }

    &__container {
      max-width: 949px;
    }

    &__text {
      gap: 51px;
    }

    &__description {
      max-width: 409px;
      margin-bottom: -1px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 630px;

    &__heading {
      font-size: $size-40;
    }
  }
}

@media (max-width: 550px) {
  .header {
    height: 700px;

    &__description {
      max-width: 350px;
    }
  }
}

@media (max-width: 360px) {
  .header {
    height: 488px;

    &__content {
      padding: 33px 0;
      font-size: $size-16;
    }

    &__text {
      padding-top: 141px;
      gap: 0;
      font-size: $size-16;
    }

    &__heading {
      margin-bottom: 40px;
      font-size: $size-34;
      line-height: 112%;
    }

    &__description {
      max-width: 310px;
      margin-bottom: 39px;
    }
  }
}

// ==============
