@import "./styles/base/variables.scss";

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 2000px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 958px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
  }
}
