@import "../../../../styles/base/variables";

.choose-tour__card {
  position: relative;
  width: 100%;
  min-height: 531px;
  margin-top: 5px;
  padding: 50px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &-content {
    position: relative;
    z-index: 5;
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
  }

  &-text {
    width: 200px;
  }

  &-heading {
    margin-bottom: 16px;
    @include cards-heading-style;
  }

  &-price {
    @include regular-text;
    font-size: $size-17;
    letter-spacing: -0.01em;
  }

  &-button {
    position: relative;
    left: -8%;
    top: -5%;
    z-index: 2;
    width: 198px;
    height: 42px;
    display: flex;
    border: none;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    @include bold-text;
    color: $white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
    content: "";
  }

  &:hover .choose-tour__card-img {
    transform: scale(1.2);
  }

  &:hover .choose-tour__card-button {
    background-color: $green-400;
  }

  &:active .choose-tour__card-button {
    background-color: $orange-200;
  }
}

.choose-tour__button-arrow {
  width: 22px;
  height: 16px;
  margin: 0 -16px 0 16px;
  background-image: url("../../../../assets/choose-tour/arrow-bt.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .choose-tour__card {
    width: 450px;
    padding: 51px 50px;

    &-text {
      width: 350px;
    }
  }
}

@media (max-width: 1023px) {
  .choose-tour__card {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .choose-tour__card {
    &-heading {
      font-size: $size-23;
    }
  }
}

@media (max-width: 768px) {
  .choose-tour__card {
    min-height: 350px;
    padding: 50px 25px;

    &-text {
      max-width: 200px;
      text-wrap: wrap;
    }

    &-heading {
      font-size: $size-20;
    }

    &-price {
      @include mobile-regular-text;
    }

    &-button {
      top: -6%;
      left: -6%;
      width: 150px;
      font-size: $size-17;
    }
  }
}

@media (max-width: 550px) {
  .choose-tour__card {
    width: 318px;
    min-height: 318px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;

    &-img {
      border-radius: 20px;
    }

    &-content {
      width: 268px;
    }

    &-heading {
      margin-bottom: 14px;
      font-size: $size-23;
      letter-spacing: 0.043em;
    }

    &-button {
      top: -10%;
      @include mobile-regular-text;
      font-weight: $weight-700;
    }

    &::before {
      border-radius: 20px;
    }
  }
}

@media (max-width: 360px) {
  .choose-tour__button-arrow {
    margin-bottom: 3px;
  }
}

@media (hover: none) {
  .choose-tour__card:hover .choose-tour__card-img {
    transform: none;
  }

  .choose-tour__card:hover .choose-tour__card-button,
  .choose-tour__card:active .choose-tour__card-button {
    background-color: initial;
  }
}

// ==========
