@import "../../styles/base/variables";

.choose-tour {
  padding-top: 135px;

  &__heading {
    margin-bottom: 35px;
    @include h2;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 30px;
  }
}

@media (max-width: 1024px) {
  .choose-tour {
    &__cards {
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 13px 18px;
    }
  }
}

@media (max-width: 768px) {
  .choose-tour {
    padding-top: 75px;

    &__heading {
      font-size: $size-35;
    }
  }
}

@media (max-width: 550px) {
  .choose-tour {
    &__cards {
      grid-template-columns: 1fr;
      gap: 18px;
    }
  }
}

@media (max-width: 360px) {
  .choose-tour {
    padding-top: 74px;

    &__heading {
      margin-bottom: 28px;
      font-size: $size-34;
      letter-spacing: 0.02em;
    }
  }
}

// =================
