/* Colors */
$black: #1b1f2b;
$white: #ffffff;
$orange-200: #efa501;
$orange-100: #f8e6be;
$green-400: #286562;
$green-300: #3b7e7b;
$green-200: #627f7e;
$green-100: #e0f0e5;
$gray-300: #a6a6a6;
$gray-200: #d9dfdb;
$gray-100: #f1f3f2;
$beige-200: #f4f0e9;
$beige-100: #f9f7f4;

/* Fonts */
$font-family: "Roboto", sans-serif;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

/* Sizes */
$size-16: 16px;
$size-17: 17px;
$size-20: 20px;
$size-23: 23px;
$size-34: 34px;
$size-35: 35px;
$size-40: 40px;
$size-59: 59px;
$size-96: 96px;

// mixins

@mixin h1 {
  font-weight: $weight-700;
  font-size: $size-96;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-align: center;
  color: $white;
}

@mixin h2 {
  font-weight: $weight-700;
  font-size: $size-59;
  line-height: 124%;
  text-align: center;
  color: $black;
}

@mixin regular-text {
  font-weight: $weight-400;
  font-size: $size-20;
  line-height: 142%;
}

@mixin mobile-regular-text {
  @include regular-text;
  font-size: $size-16;
}

@mixin bold-text {
  font-weight: $weight-700;
  font-size: $size-23;
  line-height: 122%;
}

@mixin cards-heading-style {
  font-weight: $weight-500;
  font-size: $size-35;
  line-height: 122%;
}

@mixin histories-bg-styles($bg-url) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url($bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  transition: transform 0.3s ease;
}
